@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'bold';
    src: url('../assets/Fonts/conduck.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'medium';
    src: url('../assets/Fonts/HelveticaNeueMedium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }